.processSection {
  background: #ffffff;
  font-family: Inter;
}

.wrapper {
  background: #FAFAF9;
  padding: 20px 80px;
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 64px;
}

.label {
  font-size: 12px;
  font-weight: 700;
  color: #61B35C; 
  display: inline-block;
  margin-bottom: 15px;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  color: #1c1917;
}

.steps {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: stretch;
  justify-content: center;
  gap: 48px;
  
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 0 50px;
  max-width: 400px;
  z-index: 1;
}

.iconWrapper {
  width: 96px;
  height: 84px;
  background: #17a5c6;
  color: #ffffff;
  border-radius: 16777200px;
  border: 4px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(23, 165, 198, 0.25);
}

.step h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1c1917;
}

.step p {
  font-size: 16px;
  color: #808080;
  line-height: 1.6;
}

.line {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 85%;
  background: transparent;
  overflow: hidden;
}
.lineInner {
  width: 100%;
  height: 100%;
  background: #17A5C633;
  display: block;
}


@media (max-width: 1024px) {

  .wrapper {
    padding: 20px 40px;
  }
  .step{
    padding: 0 35px;
  }
  .line{
    top: 16%;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 32px;
  }
    .steps {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .step {
    max-width: 100%;
  }
  .line{
    display: none;
  }
}

@media (max-width: 480px) {
 .wrapper {
    padding: 60px 0;
  }
  .wrapper {
    padding: 20px 20px;
  }

  .heading {
    font-size: 28px;
  }
}
