.promiseSection {
  padding: 120px 80px;
  background: linear-gradient(
    90deg,
    #1c1917 0%,
    #0f0f0f 60%,
    #1a2224 100%
  );
  font-family: Inter;
  color: #ffffff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 40%;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}

.description {
  font-size: 18px;
  color: #808080;
  line-height: 1.7;
  margin-bottom: 40px;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.point {
  display: flex;
  gap: 20px;
}

.icon,
.iconGreen {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #44403B;
  background-color: #292524;
}

.icon {
  color: #17A5C6;
}

.iconGreen {
  color: #61B35C;
}

.point h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.point p {
  font-size: 16px;
  color: #A6A09B;
  line-height: 1.6;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #17A5C6;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.imageCard {
  position: relative;
  width: 640px;
  height: 1000px;
  border-radius: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageCard::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#00000000 0%,#1C1917CC 80%);
  z-index: 1;
}

.imageCard img {
  object-fit: cover;
}

.imageBadge {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  padding: 16px;
  background: #FFFFFF1A;
  border: 1px solid #FFFFFF33;
  border-radius: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  z-index: 2;
}
.imageBadge span{
  color: #61B35C;
}
/* Tablet */
@media (max-width: 1024px) {
  .promiseSection {
    padding: 100px 40px;
  }

  .wrapper {
    gap: 60px;
  }

  .imageCard {
    width: 420px;
    height: 700px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .content{
    width: 100%;
  }
  .imageCard {
    width: 100%;
    height: 620px;
  }
}

@media (max-width: 480px) {
  .promiseSection {
    padding: 80px 20px;
  }

  .heading {
    font-size: 32px;
  }

  .imageCard {
    height: 520px;
  }
  .imageBadge{
    bottom: 20px;
    right: 20px;
    left: 20px;
    font-size: 12px;
    padding: 13px;
  }
}
