.serviceSection {
  padding: 120px 50px;
  background: #ffffff;
  font-family: Inter;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items:end;
  margin-bottom: 72px;
  gap: 40px;
}

.label {
  font-size: 15px;
  font-weight: 700;
  color: #17a5c6;
  display: inline-block;
  margin-bottom: 12px;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  color: #1C1917;
  line-height: 1.15;
}

.subText {
  max-width: 330px;
  font-size: 14px;
  color: 808080;
  line-height: 1.6;
  text-align: right;
}

/* Cards */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.card {
  position: relative;
  border-radius: 32px;
  padding: 32px;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  transition: transform 0.6s ease;
  z-index: 0;
}

.card:hover::before {
  transform: scale(1.1);
}


.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.30)
  );
  z-index: 1;
}

.iconWrapper,
.card h3,
.card p {
  position: relative;
  z-index: 2;
}

.iconWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #17a5c6;
  margin-bottom: 100px;
}

.card h3 {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  color: #ffffffd9;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .serviceSection {
    padding: 100px 40px;
  }

  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }

  .subText {
    text-align: left;
    max-width: 100%;
  }

  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    font-size: 34px;
  }
}

@media (max-width: 480px) {
  .serviceSection {
    padding: 80px 20px;
  }

  .cardGrid {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 28px;
  }

}
