.reviewsSection {
  padding: 120px 80px;
  background: #ffffff;
  font-family: Inter;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 96px;
}

.quoteIcon {
  color: #cfeef3;
  display: block;
  line-height: 1;
  margin-bottom: 32px;
}

.heading {
  font-size:60px;
  font-weight: 700;
  color: #1c1917;
  line-height: 1.2;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin: 0 auto;
}

.review {
  text-align: center;
  max-width: 335px;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 20px;
}

.stars span {
  width: 8px;
  height: 8px;
  background: #61B35C;
  border-radius: 50%;
}

.text {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #292524;
  line-height: 1.7;
  margin-bottom: 32px;
}

.author strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #1c1917;
  margin-bottom: 6px;
}

.author span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12em;
  color: #808080;
}

@media (max-width: 1024px) {
  .reviewsSection {
    padding: 120px 40px;
  }

  .reviews {
    flex-direction: column;
    gap: 64px;
  }

  .heading {
    font-size: 40px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .reviewsSection {
    padding: 80px 40px;
  }
  .heading {
    font-size: 34px;
  }

  .text {
    font-size: 16px;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .reviewsSection {
    padding: 100px 20px;
  }

  .heading {
    font-size: 30px;
  }
}
